{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">Training
      </h1>

      <form class="form" action="/url/of/next/page" method="post">

        <div class="list-item-wrapper-vertical">
             <div class="grid-row">
               <div class="column-two-thirds">
                 <div class="form-group-compound">
                   <h2 class="heading-medium">What training are they doing?</h2>

                   <div class="form-group">
                     <label class="form-label" for="field-1">
                       Training
                     </label>

                     <input type="text" class="form-control" id="field-1" name="field-1">
                   </div>


                 </div>
               </div>

               <div class="column-one-third">
               </div>
             </div>

             <div class="grid-row">
               <div class="column-two-thirds">
                 <div class="form-group">
                   <p id="link" class="link">Add another</p>
                 </div>
               </div>
             </div>
           </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

        <p>
          <a href="/">Save record</a>
        </p>

      </form>

    </div>
  </div>
</main>

{% endblock %}
